body{
	margin:auto 0;

}


/*.container {
  display: flex ;
  flex-grow: 4;
  flex-wrap: wrap;
  justify-content: center;
}*/

*{	text-decoration: none;}

.container {
	display:grid;
	grid-gap:10px;
	grid-template-columns:repeat(auto-fill,minmax(250px,1fr) );

	grid-template-rows:1fr;
	grid-column: 1/-1;
	justify-items: end;
	justify-content: start;

}

.container2 {
	height: 70px;
	display:grid;
	grid-template-columns:1fr;
	grid-column: 1/-1;
	justify-items: center;
	justify-content: center;
	position: relative;
	background-color:pink;
	z-index: 2;
}

.ul1{

    list-style-type:none;
    display:inline-block;
    font-size: 1.5em;
	margin:0 15px;

}
.a1,b{

	border-radius: 6px;
	background:none;
	border: 2px solid #B3FFDC;
	color:#B3FFDC;
	padding: 10px 10px;
	transition: color 0.4s linear;
	position: relative;

}

.a1:hover{
	box-shadow: 5px 5px 5px gray;

		color:#B6A8FF ;
		border: 2px solid #B6A8FF;

	}


.a1::before{
	background-color: #FFF7C2 ;

	content: "";
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: transform 0.2s ;
	transform-origin :0 0 ;
	transition-timing-function: cubic-bezier(0.5, 1.6, 0.6, 0.4);

}

.a1::before{transform:scaleY(0);}
.a1:hover:before{transform:scaleY(1);}


@media only screen and (max-width:600px){
	.container2 {
	font-size:0.5em;
}}




h1{	
    position: -webkit-sticky; /* Safari */
    position: sticky;
	top:0px;
	text-align: center;
    font-family: 'Permanent Marker', cursive;   
     font-size: 8em;
	background-color: pink;
	border-top: 15px solid black;
	border-bottom: 20px solid pink;
	box-shadow: 4px 4px 4px #888888;
	margin-top : 50px ;
	z-index: 5;


}


h2,h3,p{
	font-family: 'Fascinate';
	margin: 10px;
	}


img{

	width:250px;
	height:350px;
	
	transition: all 2s;

}

img:hover{
	
	transform: scale(1.4);
	transform: rotate(720deg);
}



.sec1{
    color:#B3FFDC;
    margin-left: 20px;
    font-family: 'Petrona', Black 900 italic;

	margin: 10px;
    font-size: 1.2rem;
    background-color:plum ; 

    border-radius: 6px;
	padding: 10px 10px;
	transition: color 0.4s linear;

}

.a2:link{color:#B3FFDC;}      /* 未存取連結*/
.a2:visited {color:#B3FFDC;}  /* 已存取連結 */
.a2:hover {color:bisque; text-decoration:underline;   
}
.a2:active {background-color:#B3FFDC;} 
